body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #2b2b2b;
    border-left: 1 px solid black;
    padding: 10px;
}

.jumbotron { 
    text-align: center;
    background-color: transparent;
    color: #2b2b2b;
    border-radius: 0;
    border-bottom: 10px solid #2b2b2b;
    padding: 15px;
}

.lead {
    padding-top: 20px;
    font-size: 22px;
}

.day {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #2b2b2b;
}

.day .date {
    color: rgb(200, 0, 0);
    font-weight: 400;
    text-decoration: underline;
}

.resetBtn {
    border: 2px solid rgb(109, 0, 0);
    border-radius: 15px;
    background-color: #e03529;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.resetBtn i:hover {
    font-size: 25px;
    transition: all .3s ease-in-out;
}

.description {
    white-space: pre-wrap;
}

.container {
    padding: 1em;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

